body {
  background-color: powderblue;
}

h2 {
  color: maroon;
  font-family: verdana;
}

h3 {
  color: red;
  border: 3px solid teal;
  padding: 4px;
  margin: 35px;
}

p {
  color: white;
  font-style: italic;
  font-family: cambria;
  font-size: 150%;
}